/* Empty. Add your own CSS if you like */

a{
	text-decoration: none;
}

h3{
	text-align: left !important;
}
.ProfileDetails .item-thumbnail, .item .name, .ProfileDetails, .col-90{
	background-color: #8c0669;

}
.ProfileDetails img{
	border-radius: 100%;
	border:solid #e5e5e5 2px;

}
.item .profile {
    border-style: none !important;
}
.item .name{
	padding-left:33%;
	border-style: none;
}
.item .name h2{
	color: #e5e5e5 !important;

}

.bar.bar-stable{
	background-color: #8c0669 !important;
	border-color: #e5e5e5;
}
.bar.bar-stable .title{
	color: #e5e5e5;
}
.button.button-stable{
	color: #e5e5e5;
}
.bar-stable .button.button-clear {
    color: #fff;
}

.button.button-stable {
    border-color: transparent;
    background-color: #8c0669;
    color: #fff;
}

.button.button-stable:hover, .button.button-stable:active {
    border-color: transparent;
    background-color: #8c0669;
    color: #fff;
}
.item-divider {
    background-color: #cca6c2;
}
.popup-buttons .button, .popup-buttons .button:hover, .popup-buttons .button:active{
	background-color: #8c0669;
	color: #fff;
}
.toggle.toggle-stable input:checked + .track {
    border-color: #8c0669;
    background-color: #8c0669;
}
.stable{
	color: #8c0669 !important;
}
.love h1{
	color:#8c0669;
}
.logo{
	padding: 20px;
	font-size: 15em;
	color: #8c0669;
	margin: 10% 0 0 0;
}
